#mainnav{
font-style: bold;
font-size: 60pt;
font-family: Tahoma;
color: #00fe2c;
background-color: black;
}

h1{
font-family: Tahoma;
color: #00fe2c;
}

h2 {
font-family: Tahoma;
color: #00b2ff; }

.house{
border: 15px;
border-style: solid;
border-color: #00b2ff;
}

.kids{
border: 15px;
border-style: solid;
border-color: #00b2ff;
}

.college{
border: 15px;
border-style: solid;
border-color: #00b2ff;
}

.alumni{
border: 15px;
border-style: solid;
border-color: #00b2ff;
}

.involved{
border: 15px;
border-style: solid;
border-color: #00b2ff;
}

body {
font-family: helvetica;
margin: 0;
font-size: 15pt;
}

#sidenav{
float: left;
width: 25%;
}

#maincontent{
display: inline-block;
width: 48%;
}

#mediafeed{
float: right;
width: 25%;
}

iframe{
width: 80%;
height: 300px;
}

#sidenav img, #mediafeed img, #maincontent img {
width: 100%;
}